@model Students.MVC.ViewModels.AssessmentViewModel
@{
    ViewData["Title"] = "Оценка";
    Layout = "_LayoutAdditional";
}
<body>
    <div class="registration-form">
        <form asp-action="Create">
            <div class="validation" asp-validation-summary="All"></div>
            <input type="hidden" asp-for="LessonId" />
            <input type="hidden" asp-for="StudentId" />
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label class="form_label">@Model.Student.GetFullName</label><br />
            </div>
            <div class="form-group">
                <label class="form_label">№@Model.Lesson.NumberLesson @Model.Lesson.Name</label><br />
            </div>
            <div class="form-group">
                <label class="form_label">Оценка</label><br />
                <span asp-validation-for="Score" class="text-danger"></span>
                <input type="number" class="form-control item" asp-for="Score" value="@Model.Score" id="score" placeholder="Оценка" />
            </div>
            <div class="form-group">
                <input type="submit" value="Поставить" class="btn btn-block create-account" />
            </div>
            <div class="form-group">
                <a class="btn btn-block create-account" asp-action="ReturnByUrl" asp-route-ReturnUrl="@Model.ReturnUrl">Назад</a>
            </div>
        </form>
    </div>
</body>