@{
    Layout = null;
    ViewBag.Title = "Извините, возникли проблемы!";
    string ex = ViewData["Exception"] as string;
    string exInfo = ViewData["ExceptionInfo"] as string;
    string env = ViewData["Environment"] as string;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <h1 class="text-danger">Ошибка @ex </h1>
    @{
        if (env == "Development")
        {
            <p><b style='color:red;'> @exInfo</b></p>
        }
    }
</body>
</html>