@model Students.MVC.ViewModels.EditStudentViewModel
@{
    Layout = "_LayoutAdditional";
    ViewData["Title"] = "Редактирование профиля";
}
<body>
    <div class="registration-form">
        <form asp-action="Edit">
            <div class="validation" asp-validation-summary="All"></div>
            <input type="hidden" asp-for="StudentId" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <input type="text" class="form-control item" asp-for="Name" id="name" placeholder="Имя">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" asp-for="Surname" id="surname" placeholder="Фамилия">
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" asp-for="MiddleName" id="middleName" placeholder="Отчество">
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" asp-for="DateOfBirth" class="form-control item" id="birth-date" placeholder="Дата рождения">
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" asp-for="URLImagePhoto" class="form-control item" id="url" placeholder="Сcылка на фотографию">
                <span asp-validation-for="URLImagePhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-block create-account" />
            </div>
            <div class="form-group">
                <input type="submit" value="Назад" asp-action="Index" class="btn btn-block create-account" />
            </div>
        </form>
    </div>
</body>