@model IEnumerable<Students.MVC.ViewModels.LessonViewModel>
<div class="form-group">
    <select id="LessonId" name="Name" class="form-control item">
        @foreach (var item in Model)
        {
            <option value="@item.LessonId"> @item.Name</option>
        }
    </select>
</div>