@model Students.MVC.ViewModels.ChangePasswordViewModel
@{
    Layout = "_LayoutAdditional";
    ViewBag.Title = "Изменение пароля";
}
<body>
    <div class="registration-form">
        <form asp-action="ChangePassword" asp-controller="Security">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" asp-for="UserIdentityId" />

            <div class="form-group">
                <label class="form_label">Новый пароль</label><br />
                <input type="password" class="form-control item" asp-for="Password" id="password" placeholder="Новый пароль">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form_label">Повторный пароль</label><br />
                <input type="password" class="form-control item" asp-for="PasswordConfirm" id="passwordConfirm" placeholder="Повторный пароль">
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-block create-account" />
            </div>
            <div class="form-group">
                <input type="submit" value="Назад" asp-action="ReturnByUrl" asp-route-ReturnUrl="@Model.ReturnUrl" class="btn btn-block create-account" />
            </div>
        </form>
    </div>
</body>