@model IEnumerable<Students.MVC.ViewModels.LessonViewModel>
<div class="form-group">
    <select  id="lesson" name="LessonId" class="form-control custom-select">
        @foreach (var item in Model)
        {
            <option value="@item.Id"> @item.Name</option>
        }
    </select>
</div>  