@model Students.MVC.ViewModels.CourseViewModel
@{
    Layout = "_LayoutAdditional";
    ViewData["Title"] = "Редактирование курса";
}
<body>
    <div class="registration-form">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="validation" asp-validation-summary="All"></div>
            <div class="form-group">
                <label class="form_label">Название курса</label><br />
                <input type="text" class="form-control item" asp-for="Name" id="name" placeholder="Название курса">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form_label">Описание</label><br />
                <textarea class="form-control item" asp-for="Description" id="description" placeholder="Описание"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form_label">Длительность курсов</label><br />
                <input type="text" class="form-control item" asp-for="Duration" id="duration" placeholder="Длительность курсов">
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form_label">Цена</label><br />
                <input type="text" class="form-control item" asp-for="Price" id="price" placeholder="Цена">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form_label">Сcылка на изображения</label><br />
                <input type="text" asp-for="URLImagePhoto" class="form-control item" id="url" placeholder="Сcылка на изображения">
            </div>
            <div class="form-group">
                <label class="form_label">Отображения</label><br />
                <input asp-for="Visible" />
            </div>
            <div class="form-group">
                <input type="submit" value="Редактировать" class="btn btn-block create-account" />
            </div>
            <div class="form-group">
                <a class="btn btn-block create-account"
                   asp-action="ReturnByUrl" asp-route-ReturnUrl="@Model.ReturnUrl">Назад</a>
            </div>
        </form>
    </div>
</body>
